@model IEnumerable<E_Ticket.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between">
    <h1>Index</h1>
    <h1 class="text-center"><a href="/Admin/Dashboard/index"><i class="bi bi-arrow-left-circle" style="color:#2c377d;"></i> </a> </h1>
</div>
<hr />

<p class="flex-column">
    <form asp-action="Index" method="get" class="d-flex">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-outline-light ">Create New</a>
        </div>
        <input type="text" class="form-control me-3" id="movieSearch" name="Name" aria-label="Search for movie..." placeholder="Search for movie..." required />
        <button type="submit" class="btn btn-light"><i class="bi bi-search"></i></button>
    </form>
</p>
<hr />
@if (TempData["NotFound"] != null)
{
    <div class="error-inner ">
        <h1 class="text-center reglar-text" style="font-size:6rem;"><i class="bi bi-patch-exclamation"></i></h1>
    </div>
    <h3 class="text-center reglar-text">@TempData["NotFound"]</h3>
    <hr />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieStatus)
            </th>
            <th style="width:10%;">
                Total || Sold
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="~/images/movies/@Html.DisplayFor(modelItem => item.ImgUrl)" class="actors-img " alt="Alternate Text" />
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieStatus)
                </td>
                <td>
                    T: @Html.DisplayFor(modelItem => item.TotalTickets)
                    ||
                    S: @Html.DisplayFor(modelItem => item.TicketsSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-movieId="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-movieId="@item.Id">Delete</a>|
                    <a asp-action="AssignActor" asp-route-movieId="@item.Id">Actors</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <hr />
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item @(ViewBag.pageNumber <= 1 ? "disabled":"")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.totalPages; i++)
            {
                <li class="page-item @(i == ViewBag.pageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.pageNumber >= ViewBag.totalPages ? "disabled" : "")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>