@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>Categories</h1>
    <h1 class="text-center"><a href="/Admin/Dashboard/index"><i class="bi bi-arrow-left-circle" style="color:#2c377d;"></i> </a> </h1>
</div>
<hr />
<p class="flex-column">
    <div class="col-2">
        <a asp-action="Create" class="btn btn-outline-light ">Create New</a>
    </div>
</p>
<hr />
@if (TempData["NotFound"] != null)
{
    <div class="error-inner ">
        <h1 class="text-center reglar-text" style="font-size:6rem;"><i class="bi bi-patch-exclamation"></i></h1>
    </div>
    <h3 class="text-center reglar-text">@TempData["NotFound"]</h3>
    <hr />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-categoryId="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-categoryId="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
