@model Movie
@{
    var wishlist = ViewBag.Wishlist as List<int>;
    var isInWishlist = wishlist != null && wishlist.Contains(Model.Id);
}

<hr />
<div class="d-flex justify-content-between text-center">
    <h3>Details of @Model.Name</h3>
    <div>
        <span class="badge text-bg-dark av-badge">Tickets Remaining: @Model.TicketsRemaining</span>
        <span class="badge text-bg-dark av-badge"> @Model.MovieStatus</span>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="#" class="dtl-str @(isInWishlist ? "golden-star" : "")" data-movie-id="@Model.Id">
                <i class="bi bi-star-fill "></i>
            </a>
        }
    </div>
</div>
<hr />
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/images/movies/@Model.ImgUrl" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8 pb-3">
            <div class="card-body ">
                <p class="card-text">Description: @Model.Description </p>
                <p class="card-text">Price: <span class="badge text-bg-dark" style="background-color:gray;">@Model.Price</span></p>


                <div class="" style="width: 15rem;" >
                    <div class="card-header " style="background:rgba(65, 105, 225, 0.9);">
                        Cinemas
                    </div>
                    <ul class="list-group-flush" style="padding-left:0px;">
                        @foreach (var item in Model.CinemaMovies)
                        {
                            <li class="list-group-item"  >- @item.Cinema.Name</li>
                        }
                    </ul>
                </div>

                <p class="card-text">Start Date: @Model.StartDate.ToString()</p>
                <p class="card-text">End Date: @Model.EndDate.ToString()</p>
                <p class="card-text">Category: @Model.Category.Name</p>
                @foreach (var item in Model.ActorMovies)
                {
                    <a href="/Customer/Home/Actor?actorId=@item.ActorId"><img src="~/images/cast/@item.Actor.ProfilePicture" style="width:45px;" /></a>
                }
                <p><small>Trailer</small></p>
                <video width="300" height="180" controls>
                    <source src="@Model.TrailerUrl" type="video/mp4">
                </video>
            </div>
            <div class="card-button">



                <a href="/Customer/Carts/AddToCart?movieId=@Model.Id" class="btn btn-success book-btn" data-moviestatus="@((int)@Model.MovieStatus)">Book Ticket</a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".book-btn").each(function () {
            var movieStatus = $(this).data("moviestatus");
            if (movieStatus == 2) {
                $(this).removeClass("btn-success").addClass("btn-danger disabled").text("Expired").prop("disabled", true);
            }
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.dtl-str').on('click', function (event) {
            event.preventDefault();
            const movieId = $(this).data('movie-id');
            const starElement = $(this);

            $.ajax({
                url: '@Url.Action("AddToWishlist", "Wishlist")',
                type: 'POST',
                data: { movieId: movieId },
                success: function (response) {
                    if (response.success) {
                        starElement.toggleClass('golden-star');
                        toastr.success('Movie added to wishlist successfully!');
                    } else {
                        toastr.info(response.message);
                    }
                },
                error: function () {
                    toastr.error('An error occurred while adding the movie to the wishlist.');
                }
            });
        });
    });
</script>
