@model IEnumerable<Actor>

@{
    ViewData["Title"] = "AllActors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between">
    <h1>All Actors</h1>
    <h1 class="text-center"><a href="/Admin/Dashboard/index"><i class="bi bi-arrow-left-circle" style="color:#2c377d;"></i> </a> </h1>
</div>
<hr />
<p class="flex-column">
    <form asp-action="Index" class="d-flex">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-outline-light ">Create New</a>
        </div>
        <input type="text" class="form-control me-3" id="movieSearch" name="Name" aria-label="Search for actor..." placeholder="Search for actor..." required />
        <button type="submit" class="btn btn-light"><i class="bi bi-search"></i></button>
    </form>
</p>
<hr />
@if (TempData["NotFound"] != null)
{
    <div class="error-inner ">
        <h1 class="text-center reglar-text" style="font-size:6rem;"><i class="bi bi-patch-exclamation"></i></h1>
    </div>
    <h3 class="text-center reglar-text">@TempData["NotFound"]</h3>
    <hr />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
                
            </th>
            
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                Picture
            </th>
            <th style="width:30%;">
                @Html.DisplayNameFor(model => model.News)
            </th>
            <th>Acted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td style="width:30%;">
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td class="align-content-center ">
                    <img src="~/images/cast/@Html.DisplayFor(modelItem => item.ProfilePicture) " class="actors-img rounded-circle" alt="Alternate Text" />
                </td>
                <td style="width:30%;">
                    @Html.DisplayFor(modelItem => item.News)
                </td>
                
                <td>
                    @item.ActorMovies.Count() Movies
                </td>

                <td>
                    <a asp-action="Edit" asp-route-actorId="@item.Id">Edit</a> |

                    <a asp-action="Delete" asp-route-actorId="@item.Id">Delete</a>|

                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <hr />
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item @(ViewBag.pageNumber <= 1 ? "disabled":"")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.totalPages; i++)
            {
                <li class="page-item @(i == ViewBag.pageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.pageNumber >= ViewBag.totalPages ? "disabled" : "")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>